

<main class="m-auto p-5 max-w-6xl">
    <h1 class="text-5xl font-extrabold m-0"><span class="text-gradient animate-pulse">CURSO ILLUSTRATOR 1</span></h1>
    <p class="entradilla">
        En esta galería iré incluyendo los ejercicios que hago en el curso de <code>Illustrator</code></p>
    <ul role="list" class="link-card-grid">
        <slot />
    </ul>
</main>

<style>
	
	
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.entradilla {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.entradilla code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
